.footer {
    /*bottom: 0;*/
    position: fixed;
    width: 100%;
    text-align: center;
    alignment: center;
}

#footer-text{
    color: darkgray;
}

.flex-container{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.logo{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 14%;
    background-color: black;
    margin-left: 6%;
    z-index: 1;
}

#logo{
    text-align: center;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#text_logo{
    position: absolute;
    width: 10%;
    margin-top: 0;
    color: white;
}

.flex-container{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-container .item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20%;
    text-align: center;
    /*border: 2px solid;*/
    /*margin-bottom: 4%;*/
    margin: 10px;
}

.flex-container .item img{
    height: 352px;
    width: 282px;
}

.flex-container .item .link{
    margin-top: 2em;
}

.flex-container .item .link a{
    text-decoration: none;
    padding: 10px 50px;
    max-width: 40%;
    border: 2px solid black;
    color: white;
    background-color: black;
}

.flex-container .item .text{
    text-align: left;
}

.text .size{
    padding-left: 1em;
    float: left;
    padding-right: 4%;
}

.text .name p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.text .rote p{
    text-align: center;
}

.text .date p{
    color: blue;
    font-weight: bold;
    text-align: center;
}

.text .size a{
    text-decoration: none;
    color: black;
}

.text .price{
    padding: 4% 1em;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.button-order{
    background-color: black;
    border: solid;
    border-color: black;
    color: white;
    width: 70%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}